.about {
    display: flex;
    height: 40rem;
    width: 75%;
    margin: auto;
    
    &__photo {
        flex: 1;
        margin-top: 8rem;
        
        img {
            margin-top: 2rem;
        }
    }
     
    &__info {
        flex: 1;
        margin-top: 8rem;
        
        h1 {
            font-size: 3rem;
            margin-top: 0;
        }
        
        h3 {
            color: lighten(gray, 30%);
            letter-spacing: .4rem;
            font-weight: 200;
            font-size: 1.3rem;
            margin-bottom: .5rem;
            margin-top: 0;
        }
        
        p {
            width: 80%;
            color: lighten(gray, 20%);
            font-size: 1.1rem;
            line-height: 1.5rem;
        }
        
        button {
            border: 2px solid lighten(gray, 20%);
            padding: 1rem 2.5rem;
            font-size: 1rem;
            color: lighten(gray, 20%);
            margin-top: 1rem;
            transition: background-color .3s, border .3s;
        }
        
        button:hover {
            border: 2px solid orange;
            background-color: orange;
            color: white;
            cursor: pointer;
        }
    }
}

@media( max-width: 1200px ) {
    .about {
        img {
            width: 100%;
        }
    }
}


@media( max-width: 770px ) {
    .about {
        flex-direction: column;
        height: auto;
        
        &__photo {
            margin: 2rem auto 5rem;
        }
    }
}







