.footer {
    background-color: lighten(black, 18%);
    padding: 1px;
    height: 45rem;
    
    &__flex {
        width: 70%;
        margin: 5rem auto 5rem;
        
        &--info {
            display: flex;
            flex-direction: row;
            height: 20rem;
        }
        
        &--social {
            margin-top: 0;
            
            &--icons {
                display: flex;
                justify-content: center;
                margin-top: 2rem;
                
                &--div {
                    margin: 0 .5rem;
                    width: 4rem;
                    height: 4rem;
                    border-radius: 50%;
                    background-color: lighten(black, 23%);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: background-color .5s;
                }
                
                &--div:hover {
                    cursor: pointer;
                    background-color: lighten(black, 30%);
                }
                
                img {
                    width: 1.5rem;
                }
            }
            
            p {
                text-align: center;
                color: lighten(gray, 18%);
                font-size: 1.3rem;
                margin-top: 4rem;
            }
        }
    }
        .about__info {
            display: flex;
            flex-flow: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 1rem;
            margin-left: 0;
            min-width: 21rem;
            max-width: 21rem;
            
            p {
                line-height: 1.5rem;
                color: lighten(gray, 5%);
                margin-top: .7rem;
                width: 100%;
            }
            
            h3 {
                color: lighten(gray, 20%);
                margin-bottom: 0;
                letter-spacing: 0;
            }
        }
        
        .restaurant {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            width: 8.5rem;
            
            h3 {
                color: lighten(gray, 25%);
            }
            
            a {
                text-decoration: none;
                color: lighten(gray, 5%);
                margin: .5rem 0;
            }
        }
        
        .links {
            display: flex;
            justify-content: center; 
            margin-right: 0;
            
            h3 {
                color: lighten(gray, 25%);
            }
            
            a {
                text-decoration: none;
                color: lighten(gray, 5%);
                margin: .5rem 0;
            }
        }
        
        .links1 {
            display: flex;
            flex-direction: column;
            width: 10rem;
        }
        
        .links2 {
            display: flex;
            flex-direction: column;
            width: 10rem;
     }
  }


/*-- MEDIA QUERIES --*/

@media( max-width: 1200px ) {
    .footer__flex {
        width: 80%;
        
        .about__info {
            width: 10rem !important;
        }
    }
}

@media( max-width: 990px ) {
    .footer__flex {
        width: 95%;
    }
}

@media( max-width: 840px ) {
    .footer {
        height: auto;
        
    &__flex {
        height: auto;
        
        &--info {
            flex-direction: column;
            height: auto;
            width: 70%;
            margin: 0 auto 3rem;
            
            .restaurant {
                margin-left: 0;
            }
            
            .links {
                flex-direction: column;
            }
        }
    }
  }
}

@media( max-width: 540px ) {
    .footer__flex--info {
        width: 95%;
    }
}













