.offers {
    height: 65rem;
    background: lighten(gray, 48%);
    padding: 1px;
    
    &__slider {
        width: 70%;
        margin: 0 auto;
    }
    
    &__slide {
        display: flex;
        
        &--card {
            width: 1;
            margin: 0 1rem;
            background: white;
            text-align: center;
            
            img {
                width: 100%;
                height: 14rem;
            }
            
            h3 {
                color: orange;
                font-size: 1.5rem;
                margin-bottom: 0;
            }
            
            h1 {
                margin-top: .5rem;
            }
            
            p {
                width: 80%;
                margin: 0 auto;
                color: lighten(gray, 20%);
                line-height: 1.4rem;
            }
            
            button {
                padding: .7rem 1rem;
                background: orange;
                color: white;
                border: none;
                font-size: .8rem;
                margin: 2rem auto 3rem;
            }
        }
    }
    
    &__heading {
        text-align-last: center;
        padding: 1px;
        margin-top: 5rem;
        margin-bottom: 3rem;
        
        h3 {
            color: lighten(gray, 30%);
            font-size: 1.5rem;
            margin-top: 0px;
            margin-bottom: .5rem;
        }
        
        h1 {
            margin-top: 0px;
            font-size: 3.5rem;
            margin-bottom: .28rem;
        }
        
        p {
            width: 50%;
            margin: 0 auto;
            color: lighten(gray, 20%);
            font-size: 1.4rem;
            line-height: 2.2rem;
        }
    }
    
    &__nav {
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        
        &--circle {
            height: .6rem;
            width: .6rem;
            background-color: lighten(gray, 30%);
            border-radius: 50%;
            margin: 0 .5rem;
        }
        
        .active {
            background-color: orange;
        }
    }
}









